* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #0093B2, #072B31);
    color: #333;
    font-family: system-ui, -apple-system, sans-serif;
}

.form-container {
    background-color: white;
    padding: 40px 30px; /* Más espacio interior para respirar */
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Sombra más suave y moderna */
    width: 100%;
    max-width: 450px;
}

.header-section {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}

.title {
    margin: 0;
    color: #072B31;
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
}

.custom-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: 0;
    padding: 8px 0;
    background-color: transparent;
    transition: border-color 0.3s;
}

.custom-input:focus {
    outline: none;
    border-color: #17a2b8;
    box-shadow: none;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    top: 8px;
    left: 0;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    color: #6c757d;
}

.custom-input:focus + .floating-label,
.custom-input:not(:placeholder-shown) + .floating-label {
    top: -18px;
    font-size: 0.85rem;
    color: #17a2b8;
    font-weight: 500;
}

.password-toggle {
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
    background: none;
    border: none;
    color: #6c757d;
    display: flex;
    padding: 0;
}

#btningresar {
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(23, 162, 184, 0.2);
}

#btningresar:hover {
    background-color: #138496;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(23, 162, 184, 0.3);
}

#btningresar:disabled {
    background-color: #8accd7;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    min-height: 38px;
    padding: 4px 8px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #0093B2;
}

a:hover {
    text-decoration: none;
}