body {
    background-color: #f4f7f6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 800px;
    width: 95%;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 160px;
    margin-bottom: 2rem;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 1.5rem;
}

.header-section img {
    max-width: 80px;
    height: auto;
    padding: 5px; 
}

/* --- AJUSTES PARA MÓVIL --- */
@media (max-width: 576px) {
    .header-section {
        flex-direction: column; /* Apila logo sobre título */
        gap: 15px;              /* Espacio pequeño entre ellos */
        text-align: center;
    }

    .header-text-container h2 {
        text-align: center;     /* Centra el texto en móviles */
        font-size: 1.3rem;
    }
    
    .header-section img {
        max-width: 70px;        /* Un poco más pequeño en móvil */
    }
}

.form-label-custom {
    font-weight: 600;
    color: #444;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.custom-input {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 10px 12px;
    transition: all 0.3s ease;
}

.custom-input:focus {
    border-color: #072B31;
}

.btn-request {
    padding: 8px 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: #072B31;
    width: 25%;
}

.btn-request:hover{
    background-color: #138496;
}

@media (max-width: 576px) {
    .btn-request {
        width: 100% !important; /* En móvil que ocupe todo el ancho */
    }
}