        /* Contenedor del select */
        .choices__inner {
            background-color: #f8f9fa;

            border-radius: 0.75rem;
            padding: 0.6rem;
            min-height: 3.5rem;
            font-size: 1rem;
            box-shadow: 0 2px 6px rgba(13, 110, 253, 0.2);
        }

        /* Etiquetas seleccionadas */
        .choices__item--selectable {

            color: #000000ff;
            border-radius: 0.5rem;
            padding: 0.25rem 0.75rem;
            margin-right: 0.25rem;
            font-weight: 500;
        }

        .choices__button {
            color: #000000ff;
            opacity: 0.8;
            margin-left: 6px;
        }

        /* Buscador */
        .choices__input {
            background-color: #ffffff;
            border: none !important;
            padding: 0.4rem 0.6rem;
            border-radius: 0.4rem;
            font-size: 1rem;
            box-shadow: none;
            outline: none;
            color: #212529;
        }

        .choices__list--dropdown {

            border-radius: 0.5rem;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            background-color: #ffffff;
        }

        .choices__list--dropdown .choices__item--selectable {
            padding: 0.5rem 0.75rem;
            transition: background 0.2s ease;
        }

        .choices__list--dropdown .choices__item--selectable:hover {
            background-color: #e7f1ff;
            color: #000000ff;
        }

        /* Placeholder */
        .choices__placeholder {
            color: #000000ff;
            font-style: italic;
        }

        /* Asegura que toda la opción sea clickeable */
        .choices__list--dropdown .choices__item--selectable {
            display: flex;
            align-items: center;
            width: 98%;
            padding: 0.75rem 1rem;
            cursor: pointer;
            transition: background-color 0.2s ease;
            position: relative;
        }

        .choices__list--dropdown .choices__item--selectable:hover {
            background-color: #e7f1ff;
            color: #000000ff;
        }

        .choices__item--selectable {
            width: auto;
            display: flex;
            align-items: center;
            padding: 0.6rem 1rem;
            cursor: pointer;
            user-select: none;
        }

        /* Responsive para pantallas pequeñas */
        @media (max-width: 576px) {
            .choices__inner {
                font-size: 0.9rem;
            }

            .choices__item--selectable {
                font-size: 0.9rem;
            }

            .choices__input {
                font-size: 0.9rem;
            }
        }